body {
  padding: 10px;
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid black;
  width: 18px;
  height: 18px;
}

td.hidden {
  background-color: lightgray;
}

td.mine {
  position: relative;
  background-color: darkred;
}

td.mine::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

td.safe {
  background-color: #fff;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}

.victory {
  height: 20px;
  width: 40px;
  color: white;
  background-color: blue;
}